permissions:
  id-token: write
  contents: read
on: push
jobs:
  BUILD-CUSTOM-UBUNTU-IMAGE:
    runs-on: ubuntu-latest    
    steps:
      # install azure-cli
    - uses: pietrobolcato/install-azure-cli-action@main
    - name: CHECKOUT
      uses: actions/checkout@v2
    - name: AZURE LOGIN 
      uses: azure/login@v1
      with:
        # creds: ${{secrets.AZURE_CREDENTIALS}}
        auth-type: IDENTITY
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: BUILD WEBAPP
      run: sudo ${{ GITHUB.WORKSPACE }}/webApp/buildscript.sh # Run necessary build scripts and copies built artifacts to  ${{ GITHUB.WORKSPACE }}/workflow-artifacts
    - name: BUILD-CUSTOM-VM-IMAGE      
      uses: azure/build-vm-image@v0
      with:        
        resource-group-name: 'myResourceGroup'
        managed-identity: 'myImageBuilderIdentity'
        location: 'eastus2'
        source-os-type: 'linux'        
        # source-image: Canonical:UbuntuServer:18.04-LTS:latest
        source-image: Canonical:0001-com-ubuntu-server-jammy:22_04-lts-gen2:latest
        customizer-source: /vhd-build/init.sh
        customizer-script: |
          sh /vhd-build/init.sh
        dist-type: 'SharedImageGallery'
        dist-resource-id: ''
        dist-location: 'eastus2'
          
        
